---
import { label, formatValor, aclaracion } from "../lib/datos.ts";
import Sparkline from "./Sparkline.astro";
const { ikey, ind, bucket } = Astro.props;
const estDot = bucket === "fresco" ? "verde" : bucket === "manual" ? "amarillo" : "rojo";
const nota = aclaracion(bucket, ind);
const clickable = bucket !== "placeholder";
---
<li class:list={["cg-ind", { "cg-ind--clickable": clickable }]} data-indicador={ikey}>
  <span class="cg-ind-name">
    {label(ikey)}
    {nota && <em style="font-style:normal;color:var(--muted-soft);font-size:11px;margin-left:6px;">({nota})</em>}
  </span>
  {bucket === "fresco" && (
    <span class="cg-ind-sparkline"><Sparkline indicador={ikey} estado={estDot} /></span>
  )}
  <span class="cg-ind-value">
    {formatValor(ind.valor)}
    <span class="cg-ind-unit">{ind.unidad}</span>
    <span class:list={["cg-ind-est", estDot]}></span>
  </span>
</li>
